:root{
    --text-color: #fff;
    --button-color:#333;
    --py-1:2rem;
    --mx-1:2rem;
    --page-1-color: steelblue;
    --page-2-color: tan;
    --page-3-color: teal;
    --page-4-color: slateblue;
    --animate-speed:2s;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    color:var(--text-color);
    overflow: hidden;
}

html {
    scroll-behavior: smooth;
  }
/*page-colors*/

#page-1 {background-color: var(--page-1-color);}
#page-2 {background-color:var(--page-2-color);}
#page-3 {background-color: var(--page-3-color);}
#page-4 {background-color: var(--page-4-color);}

.page {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    color:var(--text-color);
    height: 100vh;
    padding: 0 4rem;
}

.page h1 {
    font-size: 4rem;
    line-height: 1.2;
    margin: 1rem;
}

 .page p {
     font-size: 1.3rem;
} 

.btn {
    display: inline-block;
    background-color: var(--text-color);
    text-decoration: none;
    text-align: center;
    justify-content: center;
    color: var(--button-color);
    padding: 1rem 2rem;
    border:none;
    margin-top:1rem;
    font-size:1.1rem;
    transition: all 0.2s ease-in;
}

.btn:hover,
.btn-dark {
    background-color: var(--button-color);
    color:var(--text-color);
}

.btn-dark:hover {
    background-color: var(--text-color);
    color:var(--button-color);
}

#page-1 h1 {
    transform: translateY(-1200px);
    animation: animate-h1 var(--animate-speed) forwards ease-in;
}

@keyframes animate-h1 {

    to {
        transform: translateX(0);
    }
}

#page-1 p {
    transform: translateX(-2000px);
    animation: animate-p var(--animate-speed) forwards ease-in;

}

@keyframes animate-p {

    to {
        transform: translateX(0);
    }
}